
@{
    ViewBag.Title = "ListUnits";
}

<h2>ListUnits</h2>

<div class="panel-body col-lg-10">
    @using (Html.BeginForm("ListUnits", "HealthUnits"))
    {
        @Html.TextBox("txtEndereco", null, new { @class = "form-control col-lg-1" })
        <input type="submit" value="Buscar" class="btn btn-primary" />      

        @*<input type="hidden" id="txtLatitude" name="txtLatitude" />
        <input type="hidden" id="txtLongitude" name="txtLongitude" />*@
    }

</div>

